{{ if ne .chezmoi.os "windows" -}}
exit
{{ end -}}

winget install -e --id Microsoft.VisualStudioCode
winget install -e --id AmN.yasb
winget install -e --id glzr-io.glazewm
winget install -e --id Notion.Notion
winget install -e --id KDE.KDEConnect
winget install -e --id Microsoft.PowerToys